<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="FriendCtrl">
  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">
        <input class="form-control" placeholder="Search Name" ng-model="searchTerm.name">
        <input class="form-control" placeholder="Search State" ng-model="searchTerm.location.state">

        <select class="input-medium"
         ng-model="sortProp" ng-options="option.value as option.selOpt for option in options ">
        </select>

        <select class="input-medium" ng-model="sortDirection">
          <option value="-">Descending</option>
          <option value="+">Ascending</option>
        </select>
      </div>
    </form>

    <ul>
      <li class='friend' ng-repeat="friend in friends | filter: searchTerm | orderBy: sortDirection + sortProp">
        <img class="profile-pic" ng-src={{friend.pic_square}}>
        <h3>{{friend.name}}</h3>
        <div class="location">
          Location: {{friend.location.city}},   {{friend.location.state}}, {{friend.location.country}}
        </div>
        <div class="status">
          {{friend.status}}
        </div>
        <div class="num-friends">
          Friends: {{friend.friend_count}}
        </div>
      </li>
    </ul>
  </div>

  <div class="add-a-friend">
      <form>
          <h2>Add A Friend</h2>
          <p>
              <label>Name:</label>
              <input ng-model="friend.name">
          </p>
          <p>
              <label>Add a Picture URL</label>
              <input ng-model="friend.pic_square">
          </p>
          <p>
              <label>Friends (a number):</label>
              <input  ng-model="friend.friend_count">
          </p>
          <p>
              <label>Add a Status (give me a status):</label>
              <input ng-model="friend.status">
          </p>
          <p>
              <label>City: </label>
              <input ng-model="friend.location.city">
          </p>
          <p>
              <label>State:</label>
              <input ng-model="friend.location.state">
          </p>

          <p>
              <label>Country:</label>
              <input ng-model="friend.location.country">
          </p>
          <p>
              <button ng-click="addFriend()">Add A Friend</button>
          </p>
      </form>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <!-- your scripts here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js">
  </script>
  <script src="./app.js"></script>
  <script src="./FriendCtrl.js"></script>
</body>
</html>
